{% extends "layout.html" %}

{% block content %}

    <h1>Funcionários</h1>

    <form action="">

    </form>



    <table>
        <tr>
            <td>
                Ver
            </td>
            <td>
                Nome
            </td>

        </tr>
        {% for n in names %}
            <tr><td> {{ n.id }} </td><td> {{ n.name }} </td></tr>
        {% else %}
            <tr><td colspan="3">SEM REGISTROS.</td></tr>
        {% endfor %}
    </table>

{% endblock %}
